.barra {
	background: linear-gradient(#0B610B, #0B3B0B);
}

body {
	background-image: url("../img/fondo.jpg");
	background-repeat: repeat;
}

.logo {
	max-width: 3rem;
}

.formulario {
	height: auto;
	width: 500px;
}

.img-thumbnail, .foto {
	max-width: 6rem;
	height: auto;
}

.principal {
	width: 700px;
	height: auto;
}

.error {
	background-image: url("../img/error.jpg");
	color: yellow;
	width: 800px;
	height: 600px;
}

.error h1 {
	font-size: 4rem;
}

.noencontrada {
	background-image: url("../img/404.jpg");
	color: white;
	font-size: 3rem;
	width: 800px;
	height: 600px;
}

.noencontrada h1 {
	font-size: 5rem;
}


/* Carrusel de imágenes de la página principal. */

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.7s;
   
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.carousel-item .img-fluid {
    margin: 0 auto;
}
.carousel img {sss
    filter: alpha(opacity=50);
}