.barra {
	background: linear-gradient(#dc0000, #ff0000, #990000);
}

.formularioclasicos {
	height: 600px;
	width: 500px;
}

.formulariomarcas {
	height: 350px;
	width: 500px;
}

.img-thumbnail, .foto {
	max-width: 10rem;
	height: auto;
}

.tablaamericanos {
	width: 1000px;
}

.tablamarcas {
	width: 500px;
}